problemSets/
datasets/

*.ipynb
.ipynb_checkpoints

modules/data_utils.*
modules/classifiers/linear_classifier.*
modules/classifiers/neural_net.*
modules/classifiers/softmax.*

octave-workspace
vinay_official.jpg
youngVinay_crop.jpg

*.pyc